*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
.DS_Store
captures/
*.iml
.idea
.externalNativeBuild
.cxx/
vcs.xml
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/